
@{
    ViewData["Title"] = "DadosPedido";
}

Obrigado por comprar conosco, abaixo você pode conferir o número do seu pedido

<h1>@ViewBag.Numero</h1>

<a asp-controller="Home" asp-action="Index">Voltar para a Home</a>

